@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
html {
  background-color: #DEE1E6;
}

html .wea_app_wrapper {
  background-color: white;
  width: 60%;
  margin: 150px auto;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 5px 5px 0 rgba(233, 240, 243, 0.5), 0 0 0 1px #e6ecf8;
  font-family: "Poppins", sans-serif;
}

html .wea_app_wrapper .cur_wea_wrapper {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  padding: 10px;
  padding-bottom: 50px;
  box-sizing: border-box;
  color: white;
  text-shadow: black 0.1em 0.1em 0.2em;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

@media only screen and (max-width: 1600px) {
  html .wea_app_wrapper .cur_wea_wrapper {
    flex-direction: column;
  }
}

html .wea_app_wrapper .cur_wea_wrapper .flex-item {
  flex: 1 1 auto;
}

html .wea_app_wrapper .cur_wea_wrapper .city_name_wrapper {
  font-size: 5rem;
  text-align: right;
  position: relative;
  right: 4rem;
  top: 2rem;
}

@media only screen and (max-width: 1600px) {
  html .wea_app_wrapper .cur_wea_wrapper .city_name_wrapper {
    text-align: center;
    right: 0rem;
    font-size: 4rem;
  }
}

@media only screen and (max-width: 768px) {
  html .wea_app_wrapper .cur_wea_wrapper .city_name_wrapper {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 500px) {
  html .wea_app_wrapper .cur_wea_wrapper .city_name_wrapper {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
}

html .wea_app_wrapper .cur_wea_wrapper .city_name_wrapper .city_name span {
  font-size: 0.3em;
  position: relative;
  bottom: 1rem;
}

@media only screen and (max-width: 500px) {
  html .wea_app_wrapper .cur_wea_wrapper .city_name_wrapper .city_name span {
    top: -0.5rem;
  }
}

html .wea_app_wrapper .cur_wea_wrapper .city_wea .wea_info_temp {
  font-size: 5rem;
  text-align: center;
  margin-bottom: 0px;
}

@media only screen and (max-width: 768px) {
  html .wea_app_wrapper .cur_wea_wrapper .city_wea .wea_info_temp {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 500px) {
  html .wea_app_wrapper .cur_wea_wrapper .city_wea .wea_info_temp {
    font-size: 2rem;
  }
}

html .wea_app_wrapper .cur_wea_wrapper .city_wea .wea_info_weather {
  text-align: center;
  margin-top: 0px;
}

html .wea_app_wrapper .cur_wea_wrapper .city_wea .hs_info_wrapper {
  display: flex;
}

@media only screen and (max-width: 500px) {
  html .wea_app_wrapper .cur_wea_wrapper .city_wea .hs_info_wrapper {
    font-size: 0.6rem;
  }
}

html .wea_app_wrapper .cur_wea_wrapper .city_wea .hs_info_wrapper .wea_hum {
  border-right: 1px solid white;
}

html .wea_app_wrapper .cur_wea_wrapper .city_wea .hs_info_wrapper .wea_hum p {
  text-align: center;
  margin: 0;
}

html .wea_app_wrapper .cur_wea_wrapper .city_wea .hs_info_wrapper .wea_wind p {
  text-align: center;
  margin: 0;
}

html .wea_app_wrapper .fu_wea_wrapper {
  width: 100%;
  box-sizing: border-box;
  display: flex;
}

@media only screen and (max-width: 1600px) {
  html .wea_app_wrapper .fu_wea_wrapper {
    flex-direction: column;
  }
}

html .wea_app_wrapper .fu_wea_wrapper .flex-item {
  flex: 1 1 auto;
}

html .wea_app_wrapper .fu_wea_wrapper .twitter-wrapper {
  border-right: 2px solid #ffcaa0;
  margin: 20px auto;
  padding: 0px 50px;
  flex-basis: 40%;
  box-sizing: border-box;
}

@media only screen and (max-width: 1600px) {
  html .wea_app_wrapper .fu_wea_wrapper .twitter-wrapper {
    border-right: 0px;
  }
}

html .wea_app_wrapper .fu_wea_wrapper .twitter-wrapper div {
  margin-bottom: 1rem;
}

@media only screen and (max-width: 500px) {
  html .wea_app_wrapper .fu_wea_wrapper .twitter-wrapper div {
    margin-bottom: 0.5rem;
  }
}

html .wea_app_wrapper .fu_wea_wrapper .twitter-wrapper div span:first-child {
  font-size: 1.5rem;
  font-weight: 600;
  color: #1da1f2;
}

@media only screen and (max-width: 768px) {
  html .wea_app_wrapper .fu_wea_wrapper .twitter-wrapper div span:first-child {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 500px) {
  html .wea_app_wrapper .fu_wea_wrapper .twitter-wrapper div span:first-child {
    font-size: 0.5rem;
  }
}

html .wea_app_wrapper .fu_wea_wrapper .twitter-wrapper div span:nth-last-child(2) {
  font-size: 1.5rem;
  font-weight: 600;
  margin-left: 1rem;
}

@media only screen and (max-width: 768px) {
  html .wea_app_wrapper .fu_wea_wrapper .twitter-wrapper div span:nth-last-child(2) {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 500px) {
  html .wea_app_wrapper .fu_wea_wrapper .twitter-wrapper div span:nth-last-child(2) {
    font-size: 0.5rem;
    margin-left: 0.3rem;
  }
}

html .wea_app_wrapper .fu_wea_wrapper .twitter-wrapper div span:last-child {
  color: #1da1f2;
  margin-left: 2rem;
  font-size: 1rem;
}

@media only screen and (max-width: 768px) {
  html .wea_app_wrapper .fu_wea_wrapper .twitter-wrapper div span:last-child {
    font-size: 0.6rem;
  }
}

@media only screen and (max-width: 500px) {
  html .wea_app_wrapper .fu_wea_wrapper .twitter-wrapper div span:last-child {
    font-size: 0.3rem;
    margin-left: 1.5rem;
  }
}

@media only screen and (max-width: 400px) {
  html .wea_app_wrapper .fu_wea_wrapper .twitter-wrapper div span:last-child {
    margin-left: 0.5rem;
  }
}

html .wea_app_wrapper .fu_wea_wrapper .twitter-wrapper p {
  display: block;
  float: left;
}

html .wea_app_wrapper .fu_wea_wrapper .twitter-wrapper p span:first-child {
  font-weight: 600;
}

@media only screen and (max-width: 768px) {
  html .wea_app_wrapper .fu_wea_wrapper .twitter-wrapper p {
    font-size: 0.6rem;
  }
}

@media only screen and (max-width: 500px) {
  html .wea_app_wrapper .fu_wea_wrapper .twitter-wrapper p {
    font-size: 0.4rem;
  }
}

html .wea_app_wrapper .fu_wea_wrapper .five_days_wrapper {
  flex-grow: 1.5;
  display: flex;
  justify-content: center;
}

html .wea_app_wrapper .fu_wea_wrapper .five_days_wrapper > div {
  margin: 10px 30px;
  text-align: center;
}

@media only screen and (max-width: 1000px) {
  html .wea_app_wrapper .fu_wea_wrapper .five_days_wrapper > div {
    margin: 5px 20px;
  }
}

@media only screen and (max-width: 600px) {
  html .wea_app_wrapper .fu_wea_wrapper .five_days_wrapper > div {
    margin: 5px 10px;
  }
}

html .wea_app_wrapper .fu_wea_wrapper .five_days_wrapper > div p {
  text-align: center;
}

@media only screen and (max-width: 600px) {
  html .wea_app_wrapper .fu_wea_wrapper .five_days_wrapper > div p {
    font-size: 0.6rem;
  }
}

html .wea_app_wrapper .fu_wea_wrapper .five_days_wrapper > div p:first-child {
  font-size: 1.5rem;
}

@media only screen and (max-width: 768px) {
  html .wea_app_wrapper .fu_wea_wrapper .five_days_wrapper > div p:first-child {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 600px) {
  html .wea_app_wrapper .fu_wea_wrapper .five_days_wrapper > div p:first-child {
    font-size: 0.6rem;
  }
}

html .wea_app_wrapper .fu_wea_wrapper .five_days_wrapper > div span {
  font-size: 2rem;
}

@media only screen and (max-width: 768px) {
  html .wea_app_wrapper .fu_wea_wrapper .five_days_wrapper > div span {
    font-size: 1rem;
  }
}
